$green: #e4ede0;
$green-alt: darken($green, 15%);
$blue: aliceblue;
$blue-alt: darken($blue, 15%);
$red: lightpink;
$red-alt: darken($red, 15%);

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background: #fafafa;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
}

input, button, select {
  font-size: 1.2rem;
}
h1 {
  font-size: 2rem;
}

@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';
