.item {
  background: white;
  border: 1px solid #eaeaea;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
}
.item--position-1 {
  background-color: $green;
  border-color: $green-alt;
}
.item--position-2 {
  background-color: $blue;
  border-color: $blue-alt;
}
.item--position-3 {
  background-color: $red;
  border-color: $red-alt;
}
.item__message {
  font-weight: bold;
  text-align: center;
}

//BEM - Block, Element, Modifier
